body {
    background-color: green;
    font-family: Tahoma;
}

.layout {
    display: flex;
}

.layout_fixtures {
    flex: 1;
}

.layout_table {
    flex: 1;
}

.table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 700px;
    font-family: Tahoma;
    color: white;
    position: relative;
}

.table_row {
    display: flex;
    flex-flow: row;
    height: 2rem;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-out;
}

.table_cell {
    flex: 1;
    text-align: center;
}

.table_cell--team {
    flex: 2;
    text-align: left;
}

.fixtures_card {
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
    max-width: 20rem;
    min-height: 10rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fixtures_card_row {
    display: flex;
    justify-content: space-between;
}

.fixtures_card_row_column {
    display: flex;
    flex-flow: column;
}

.fixtures_card_row_column_score {
    text-align: center;
    font-size: 4rem;
}